{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

{% if records%}
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zipcode</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td> <a href="{% url 'record' record.id %}"> {{ record.id }} </a></td>
                <td> {{ record.first_name }} </td>
                <td> {{ record.last_name }} </td>
                <td> {{ record.email }} </td>
                <td> {{ record.phone }} </td>
                <td> {{ record.address }} </td>
                <td> {{ record.city }} </td>
                <td> {{ record.state }} </td>
                <td> {{ record.zipcode }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% else%}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>
{% endif%}

{% endblock %}