{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Customer Record</h1>

    <div class="card">
        <div class="card-header">
            {{ customer_record.first_name }}
            {{ customer_record.last_name }}
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <table class="table table-striped table-hover table-bordered table-sm">
              <thead>
                  <tr class="table-dark">
                      <th scope="col">Field</th>
                      <th scope="col">Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>id</td>
                      <td> {{ customer_record.id }} </td>
                  </tr>
                  <tr>
                      <td>Email</td>
                      <td> {{ customer_record.email }} </td>
                  </tr>
                  <tr>
                      <td>Phone</td>
                      <td> {{ customer_record.phone }} </td>
                  </tr>
                  <tr>
                      <td>Address</td>
                      <td> {{ customer_record.address }} </td>
                  </tr>
                  <tr>
                      <td>City</td>
                      <td> {{ customer_record.city }} </td>
                  </tr>
                  <tr>
                      <td>State</td>
                      <td> {{ customer_record.state }} </td>
                  </tr>
                  <tr>
                      <td>Zipcode</td>
                      <td> {{ customer_record.zipcode }} </td>
                  </tr>
              </tbody>
          </table>
          <a href="{% url 'home' %}" class="btn btn-secondary">Go back</a>
          <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>

</div>
{% endblock %}