{% extends 'base.html' %}

{% block content %}

<h1>Register</h1>

<form method="post" action="">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Your registration has errors
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {{form.as_p}}

    <button type="submit" class="btn btn-secondary">Register</button>
</form>

{% endblock %}