{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">

    <h1>Update Record</h1>

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your registration has errors
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Update</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
        </form>
    {% endif %}

</div>
{% endblock %}